        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" >
            <meta charset="utf-8">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header t" >
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="accueil" >
                        <!-- Logo icon -->
                        <b class="logo-icon" style="margin: 0 auto;">
                            <!-- Dark Logo icon -->
                            <img src="../../assets/plugins/images/suma.png" style="width: 200px; height: 80px;" alt="homepage" />
                        </b>
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                        href="javascript:void(0)"><i  style="color: white;" class="ti-menu ti-close"></i></a>
                </div>
                <hr>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" >
                    <hr>
                   
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav ms-auto d-flex align-items-center">

                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="notification-badges">
                            <a class="profile-pic" href="listBoutiqueAttente">
                                
                                <b class="fas fa-bell" aria-hidden="true" style="color: black; width: 50px; font-size: 25px;"><span class="badge">{{nbreAttente}}</span></b>
                            </a>
                        </li>
                       
                        <li>
                            <a class="profile-pic">
                                <img src="../../assets/plugins/images/profil.png" alt="user-img" width="30"
                                    class="img-circle"><span class="font-medium" style="color: black;">{{adminConnect?.prenom}}</span>
                            </a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>