<app-header></app-header>
<app-menu></app-menu>

<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="row col-lg-6 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                    <a href="listProduit">
                     <i class="fas fa-chevron-left" style="font-weight: bold; font-size: 25px; color: #684f0e;" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12" style="float: left;">
                    <h4 class="page-title">AJOUT PRODUIT</h4>
                </div>
            </div>
            <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row justify-content-center" style="margin: 0 auto;">

        <div class="col-lg-12 col-xlg-12 col-md-12"></div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-12 col-xlg-3 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form #AjoutForm="ngForm" (ngSubmit)="AjoutService(AjoutForm)" autocomplete="off" class="form-horizontal form-material">
                            <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Nom </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <input type="text" placeholder="Saisissez un nom de produit " pattern="[A-Za-z0-9 ]{2,20}" maxlength="18" title="15 lettres au maximum" size="15"
                                                class="form-control p-0 border-0" name="nom" ngModel  #nom="ngModel" required>
                                    <div [hidden]="nom.valid || nom.pristine" class="alert alert-danger">
                                        Le nom  est obligatoire
                                    </div>
                                </div>
                            </div>                        
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Quantite </label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="text" placeholder="Saisissez une quantite" pattern="[0-9]{2,10}" maxlength="10" title="10 chiffres au maximum" size="15"
                                                class="form-control p-0 border-0" name="quantite" ngModel  #quantite="ngModel" required>
                                    <div [hidden]="quantite.valid || quantite.pristine" class="alert alert-danger">
                                        La quantite est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Prix Unitaire </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <input type="number" placeholder="Saisissez un Prix Unitaire" pattern="[0-9]{2,10}" maxlength="10" title="10 chiffres au maximum" size="15"
                                                class="form-control p-0 border-0" name="prix_unitaire" ngModel  #prix_unitaire="ngModel" required>
                                    <div [hidden]="prix_unitaire.valid || prix_unitaire.pristine" class="alert alert-danger">
                                        Le prix Unitaire est obligatoire
                                    </div>
                                </div>
                            </div>   
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Prix D'Achat </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <input type="number" placeholder="Saisissez un Prix d'achat" pattern="[0-9]{2,10}" maxlength="10" title="10 chiffres au maximum" size="15"
                                                class="form-control p-0 border-0" name="prix_achat" ngModel  #prix_achat="ngModel" required>
                                    <div [hidden]="prix_achat.valid || prix_achat.pristine" class="alert alert-danger">
                                        Le prix D'achat est obligatoire
                                    </div>
                                </div>
                            </div>                      
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Categories </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <select  placeholder="Choisir une Categorie" class="form-control p-0 border-0" name="category" ngModel  required>
                                        <option></option>
                                        <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.nom}}
                                        </option>
                                    </select>
                                </div>
                            </div>  
                        </div>
                        
                        <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Boutiques </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <select  placeholder="Choisir une boutique" class="form-control p-0 border-0" name="boutique" ngModel  required>
                                        <option></option>
                                        <option *ngFor="let prod of boutiques" value="{{prod.id}}">{{prod.nom}}
                                        </option>
                                    </select>
                                </div>
                            </div>  
                            
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Photo </label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input #photos type="file" accept=".jpg, .jpeg, .png" placeholder="Choisir une Photo"
                                                class="form-control p-0 border-0" name="photo" ngModel  #photo="ngModel" (change)="view(photos.files)" required>
                                    <div [hidden]="photo.valid || photo.pristine" class="alert alert-danger">
                                        La photo est obligatoire
                                    </div>
                                </div>
                            </div>
                            
                            <div>
                                <span style="color:red;" *ngIf="message">{{message}}</span>
                                <img [src]="imgURL" height="200" *ngIf="imgURL">
                            </div>
                        </div>   
                        <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Unite </label>
                                <div class="col-md-12 border-bottom p-0">
                                    <select  class="form-control p-0 border-0" name="unite" ngModel  #unite="ngModel" required>
                                        <option value="KG">KG</option>
                            <option value="SAC">SAC</option>
                            <option value="LITRE">LITRE</option>
                                    </select>
                                    <div [hidden]="unite.valid || unite.pristine" class="alert alert-danger">
                                        L'unité est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>                        
                            <div class="form-group mb-6">
                                <div class="col-sm-12 align-button">
                                    <button class="btn btn-success" type="submit"  [disabled]="AjoutForm.form.invalid">Ajouter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xlg-3 col-md-12"></div>
    </div>
</div>
</div>

