ion-toolbar {
    --background: #69E97A;
}

div {
    width: 80%;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

img {
    width: 80%;
    height: 100px;
    text-align: center;
}

h4 {
    text-align: center;
    color: #69E97A;
    font-weight: 600;
}

form {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

ion-button {
    margin-top: 10px;
}

.new {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.new a {
    color: #F3AC2F;
    text-decoration: none;
}
