<app-header></app-header>
<app-menu></app-menu>
<p-toast></p-toast>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="row col-lg-6 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                    <a href="listBoutiquier">
                     <i class="fas fa-chevron-left" style="font-weight: bold; font-size: 25px; color: #684f0e;" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12" style="float: left;">
                    <h4 class="page-title">Modification BOUTIQUIER</h4>
                </div>
            </div>
            <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row justify-content-center" style="margin: 0 auto;">

        <div class="col-lg-12 col-xlg-12 col-md-12"></div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-12 col-xlg-3 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form #UpdateForm="ngForm" novalidate="novalidate" autocomplete="off" class="form-horizontal form-material">
                            <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Nom </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <input type="text" placeholder="Saisissez un nom "
                                                class="form-control p-0 border-0" name="nom" [(ngModel)]="services.nom" required>
                                    
                                </div>
                            </div>                        
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Prenom </label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="text" placeholder="Saisissez un prenom"
                                                class="form-control p-0 border-0" name="prenom"  [(ngModel)]="services.prenom" required>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Login </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <input type="text" placeholder="Saisissez un Login"
                                                class="form-control p-0 border-0" name="login"  [(ngModel)]="services.login" required>
                                   
                                </div>
                            </div>                        
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Mot de Passe </label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="text" placeholder="Saisissez un Mot de passe"
                                                class="form-control p-0 border-0" name="password"  [(ngModel)]="services.password" required>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Telephone </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <input type="text" placeholder="Saisissez un Telephone"
                                                class="form-control p-0 border-0" name="telephone"  [(ngModel)]="services.telephone" required>
                                    
                                </div>
                            </div> 
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Etat </label>
                                <div class="col-md-12 border-bottom p-0">
                                    <select  class="form-control p-0 border-0" name="etat"  required>
                            <option value="ACTIVER" [(ngModel)]="services.etat" >Activer</option>
                            <option value="DESACTIVER" >Désactiver</option>
                                    </select>
                                    
                                </div>
                            </div>                       
                           
                        </div>                     
                            <div class="form-group mb-6">
                                <div class="col-sm-12 align-button">
                                    <button type="submit" class="btn btn-success me-5" (click)="onUpdate()">Mordifier</button>
                                     <button type="reset" class="btn btn-warning ms-5" routerLink="/listBoutiquier">Retour</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xlg-3 col-md-12"></div>
    </div>
</div>
</div>


