<app-header></app-header>
<app-menu></app-menu>
<p-toast></p-toast>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="row col-lg-6 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                    <a href="listBoutique">
                     <i class="fas fa-chevron-left" style="font-weight: bold; font-size: 25px; color: #684f0e;" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12" style="float: left;">
                    <h4 class="page-title">AJOUT Boutique</h4>
                </div>
            </div>
            <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row justify-content-center" style="margin: 0 auto;">

        <div class="col-lg-12 col-xlg-12 col-md-12"></div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-12 col-xlg-3 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form #data="ngForm" (ngSubmit)="ajoutService(data)" autocomplete="off" class="form-horizontal form-material">
                            <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Nom </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <input type="text" placeholder="Saisissez un nom service"  pattern="[A-Za-z ]{2,20}" maxlength="18" title="15 lettres au maximum" size="15"
                                                class="form-control p-0 border-0" name="nom" ngModel  #nom="ngModel" required>
                                    <div [hidden]="nom.valid || nom.pristine" class="alert alert-danger">
                                        Le nom  est obligatoire
                                    </div>
                                </div>
                            </div>  
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Boutiquier </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <select  placeholder="Choisir un boutiquier" class="form-control p-0 border-0" name="boutiquier" ngModel  required>
                                        <option></option>
                                        <option *ngFor="let boutic of boutiquier" value="{{boutic.id}}">{{boutic.prenom}} &nbsp;&nbsp; {{boutic.nom}}
                                        </option>
                                    </select>
                                </div>
                            </div> 
                        </div>
                        <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Ville </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <select id="myVille" placeholder="Choisir une Localité" class="form-control p-0 border-0" name="ville"  [ngModel]="VilleId" (ngModelChange)="onChangeObj($event)"  required>
                                        <option></option>
                                        <option [ngValue]="vi.id" *ngFor="let vi of vill" value="{{vi.id}}" >{{vi.libelle}}
                                       
                                    </select>
                                   
                                </div>
                            </div>  
                            
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Quartier </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <select  placeholder="Choisir une Localité" class="form-control p-0 border-0" name="quartier"  ngModel  required>
                                        <option *ngFor="let qt of quart" value="{{qt.id}}">{{qt.libelle}}</option>
                                    </select>
                                </div>
                            </div>  
                           
                        </div>
                        <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Longitude </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <input type="tel" placeholder="Saisissez une Longitude"  maxlength="8" pattern="[-]?\d+(?:\.\d{1,5})?,[-]?\d+(?:\.\d{1,5})?" size="8"
                                                class="form-control p-0 border-0" name="longitude" ngModel  #longitude="ngModel" required>
                                    <div [hidden]="longitude.valid || longitude.pristine" class="alert alert-danger">
                                        La Longitude est obligatoire
                                    </div>
                                </div>
                            </div>                        
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Latitude </label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="text" placeholder="Saisissez une Latitude"  maxlength="8" pattern="[-]?\d+(?:\.\d{1,5})?,[-]?\d+(?:\.\d{1,5})?" size="8"
                                                class="form-control p-0 border-0" name="latitude" ngModel  #latitude="ngModel" required>
                                    <div [hidden]="latitude.valid || latitude.pristine" class="alert alert-danger">
                                        La Latitude est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Photo </label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input #photos type="file" accept=".jpg, .jpeg, .png" placeholder="Choisir une Photo"
                                                class="form-control p-0 border-0" name="photo" ngModel  #photo="ngModel" (change)="view(photos.files)" required>
                                    <div [hidden]="photo.valid || photo.pristine" class="alert alert-danger">
                                        La photo est obligatoire
                                    </div>
                                </div>
                            </div>
                            
                            <div>
                                <span style="color:red;" *ngIf="message">{{message}}</span>
                                <img [src]="imgURL" height="200" *ngIf="imgURL">
                            </div>
                        </div>                           
                            <div class="form-group mb-6">
                                <div class="col-sm-12 align-button"><br><br>
                                    <button class="btn btn-success" type="submit">Ajouter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xlg-3 col-md-12"></div>
    </div>
</div>
</div>

