<app-header></app-header>
<app-menu></app-menu>
<p-toast></p-toast>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="row col-lg-6 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                    <a href="listLocalite">
                     <i class="fas fa-chevron-left" style="font-weight: bold; font-size: 25px; color: #684f0e;" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12" style="float: left;">
                    <h4 class="page-title">AJOUT Localité</h4>
                </div>
            </div>
            <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row justify-content-center" style="margin: 0 auto;">

        <div class="col-lg-12 col-xlg-12 col-md-12"></div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-12 col-xlg-3 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form #AjoutForm="ngForm" (ngSubmit)="AjoutService(AjoutForm)" autocomplete="off" class="form-horizontal form-material">
                            <div class="form-row">
                                <div class="form-group mb-4 col-md-6">
                                    <label for="type" class="col-md-12 p-0">Type </label>
                                    <div class="col-md-10 border-bottom p-0">
                                        <select id="type" placeholder="Choisir un type" class="form-control p-0 border-0" name="type" ngModel [(ngModel)]="Type" required>
                                            <option value="Ville">Ville</option>
                                            <option value="Quartier">Quartier</option>                                         
                                        </select>
                                        <!-- <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
                                            Le Type est obligatoire
                                        </div> -->
                                    </div>
                                </div>                      
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Libelle </label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="text" placeholder="Saisissez un Libelle" pattern="[A-Za-z0-9 ]{2,20}" maxlength="18" title="18 lettres au maximum" size="15"
                                                class="form-control p-0 border-0" name="libelle" ngModel  #libelle="ngModel" required>
                                    <div [hidden]="libelle.valid || libelle.pristine" class="alert alert-danger">
                                        Le Libelle est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row" >
                         
                            <div class="form-group mb-4 col-md-6" *ngIf="Type=='Quartier' ">
                                <label class="col-md-12 p-0">Parent </label>
                                <div class="col-md-12 border-bottom p-0">
                                    <select  placeholder="Choisir une Parent" class="form-control p-0 border-0" name="parent" ngModel  required>
                                        <option ></option>
                                        <option *ngFor="let par of loc" value="{{par.id}}">{{par.libelle}}
                                        </option>
                                    </select>
                                   
                                </div>
                            </div>
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Etat </label>
                                <div class="col-md-12 border-bottom p-0">
                                    <select  class="form-control p-0 border-0" name="etat" ngModel  #etat="ngModel" required>
                                        <option></option>
                            <option value="true">Activer</option>
                            <option value="false">Désactiver</option>
                                    </select>
                                    <div [hidden]="etat.valid || etat.pristine" class="alert alert-danger">
                                        L'Etat est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>                          
                            <div class="form-group mb-6">
                                <div class="col-sm-12 align-button">
                                    <button class="btn btn-success" type="submit"  [disabled]="AjoutForm.form.invalid">Ajouter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xlg-3 col-md-12"></div>
    </div>
</div>
</div>

