<app-header></app-header>
<app-menu></app-menu>
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="col-lg-1 col-sm-1 col-md-1 col-xs-12">
                <a [routerLink]="['/listBoutiqueAttente']">
                    <b>
                        <i class="fas fa-chevron-left" style="font-weight: bold; font-size: 25px; color: #684f0e;"
                            aria-hidden="true"></i>
                    </b>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">DETAIL BOUTIQUE</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"></div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-12">
                <div class="white-box">
                    <div class="user-bg"> <img width="100%" alt="user" src="assets/plugins/images/infos.png">
                        <div class="overlay-box">
                            <div class="user-content">
                                <a href="javascript:void(0)"><img src="{{photo}} + {{boutique?.id}}"
                                        class="thumb-lg img-circle" alt="photo"></a>
                                <h4 class="text-white mt-2"> BOUTIQUE {{boutique?.nom}}</h4>

                            </div>
                        </div>
                    </div>
                    <div class="user-btm-box mt-5 d-md-flex">
                        <div class="col-md-6 col-sm-6 text-center">
                            <button class="btn btn-orange" style="background-color: #2D6000; color: white;"
                                [routerLink]="['/updateBoutique', boutique?.id]">
                                <i class="fa fa-edit" aria-hidden="true"></i> Modifier</button>
                        </div>

                        <div class="col-md-6 col-sm-6 text-center" *ngIf="boutique?.etat === 'ACTIVER'">
                            <button class="btn btn-orange" style="background-color: orangered; color: white;"
                                (click)="desactiver(boutique.id)">
                                <i class="fa fa-trash" aria-hidden="true"></i> Désactiver</button>
                        </div>
                        <div class="col-md-6 col-sm-6 text-center" *ngIf="boutique?.etat === 'DESACTIVER'">
                            <button class="btn btn-orange" style="background-color: #F3AC2F; color: white;"
                                (click)="activer(boutique.id)">
                                <i class=" fas fa-check" aria-hidden="true"></i> Activer</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal form-material">
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">BOUTIQUE</label>
                                <div class="col-md-12 border-bottom p-0" style="color:#2D6000;"> {{boutique?.nom}}</div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="example-email" class="col-md-12 p-0">Ville</label>
                                <div class="col-md-12 border-bottom p-0" style="color:#2D6000;">
                                    {{boutique?.ville.libelle}}</div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="example-email" class="col-md-12 p-0">Quartier</label>
                                <div class="col-md-12 border-bottom p-0" style="color:#2D6000;">
                                    {{boutique?.quartier.libelle}}</div>
                            </div>

                            <div class="form-group mb-4">
                                <label for="example-email" class="col-md-12 p-0">Nom Boutiquier</label>
                                <div class="col-md-12 border-bottom p-0" style="color:#2D6000;">
                                    {{boutique?.boutiquier.prenom}} {{boutique?.boutiquier.nom}}</div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="example-email" class="col-md-12 p-0">Numéro Boutiquier</label>
                                <div class="col-md-12 border-bottom p-0" style="color:#2D6000;">
                                    {{boutique?.boutiquier.telephone}}</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="d-md-flex mb-3">
                        <div class="row col-md-12 col-lg-12 col-sm-12">
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <h3 class="box-title mb-0">Coordonnées de Géolocalisation</h3>
                            </div>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table no-wrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0"><b>Longitude</b></th>
                                    <th class="border-top-0"><b>Latitude</b></th>
                                    <th class="border-top-0"><b>Etat</b></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="txt-oflo">{{boutique?.longitude}}</td>
                                    <td class="txt-oflo">{{boutique?.latitude}}</td>
                                    <td class="txt-oflo">{{boutique?.etat}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>