
.contenair{
    padding: 45px;    
 }
 .content{
     box-shadow: 1px 1px 1px #684f0e;
     border-radius: 10px;
     background-color: white;
     padding: 10px;
     border: 1px solid  rgb(219, 218, 216);
 }
 .sous-content{
    box-shadow: 1px 1px 1px #f1c480;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid  rgb(219, 218, 216);
}
 form{
     height: 200px;
     margin-bottom: 30px;
 }
 .card{
     padding: 20px;
     width: 100%;
     height: 490px;
 }
 .card-body h1{
    
     text-align: center;
     font-weight: 900;
     font-size: 45px;
     margin-bottom: 50px;
 }
 i{
     padding: 10px;
 }
 .lien{
     margin-bottom: 30px;
 }
 .btnC{
     background-color: #F3AC2F;
     width: 90%;
 }
 .img{
    display: block;
     margin: auto;
 }

 :host ::ng-deep .p-message-custom {
    background-color: #7b0ea0;
    border: solid #f000bc;
    border-width: 0 0 0 6px;
    color: #c600fd;
}

:host ::ng-deep .p-message-close-icon {
    color: #c907ff;
}
