        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar t" >
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <div class="navbar-header t" >
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="accueil" >
                        <!-- Logo icon -->
                        <b class="logo-icon" style="margin: 0 auto;">
                            <!-- Dark Logo icon -->
                            <img src="assets/plugins/images/suma.png" style="width: 200px; height: 80px;" alt="homepage" />
                        </b>
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                        href="javascript:void(0)"><i  style="color: white;" class="ti-menu ti-close"></i></a>
                </div>
                <hr>
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="accueil" aria-expanded="false">
                                <i class="fa fa-home" aria-hidden="true" style="color: #2D6000;"></i>
                                <span class="hide-menu"><b>Accueil</b></span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listAdmin" aria-expanded="false">
                                <!-- <i class="fa-users-crown" aria-hidden="true" style="color: #2D6000;"></i>&nbsp; -->
                                <i><img src="assets/icon/human-resources (1).png"></i>
                                <span class="hide-menu"><b> ADMINISTRATEURS</b></span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listBoutiquier" aria-expanded="false">
                                <!-- <i class="fa fa-users" aria-hidden="true" style="color: #2D6000;"></i> -->
                                <i><img src="assets/icon/shopkeeper-removebg-preview.png"></i>
                                <span class="hide-menu"><b>BOUTIQUIERS</b></span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listBoutique" aria-expanded="false">
                                <!-- <i class="fa fa-users" aria-hidden="true" style="color: #2D6000;"></i> -->
                                <i><img src="assets/icon/boutique (1).png"></i>
                                <span class="hide-menu"><b>BOUTIQUES</b></span>
                            </a>
                        </li>
                       
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listProduit" aria-expanded="false">
                                <!-- <i class="fas fa-chart-line" aria-hidden="true" style="color: #2D6000;"></i> -->
                                <i><img src="assets/icon/product.png"></i>
                                <span class="hide-menu"><b>PRODUITS</b></span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listCategorie" aria-expanded="false">
                                <!-- <i class="fas fa-chart-line" aria-hidden="true" style="color: #2D6000;"></i> -->
                                <i><img src="assets/icon/menu.png"></i>
                                <span class="hide-menu"><b>CATEGORIES</b></span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listLocalite" aria-expanded="false">
                                <!-- <i class="fas fa-chart-line" aria-hidden="true" style="color: #2D6000;"></i> -->
                                <i><img src="assets/icon/store (1).png"></i>
                                <span class="hide-menu"><b>LOCALITE</b></span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listBoutiqueAttente" aria-expanded="false">
                                <!-- <i class="fas fa-chart-line" aria-hidden="true" style="color: #2D6000;"></i> -->
                                <i><img src="assets/icon/boutique (1).png"></i>
                                <span class="hide-menu"><b>BOUTIQUES EN ATTENTE</b></span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="corbeille" aria-expanded="false">
                                <i class="fas fa-trash" aria-hidden="true" style="color: #2D6000;"></i>
                                <span class="hide-menu"><b>CORBEILLE</b></span>
                            </a>
                        </li>
                        
                      
                        <li class="sidebar-item" style="padding-top: 30px;">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" (click)="logout()" aria-expanded="false">
                                <i class="fas fa-sign-out-alt" aria-hidden="true" style="color: #F3AC2F; font-weight: bold; font-size: 25px;"></i>
                                <span class="hide-menu" style=" font-weight: bold;"><b>DECONNEXION</b></span>
                            </a>
                        </li> 
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        

