ion-toolbar {
    --background: #69E97A;
}

ion-slides {
    --bullet-background: white;
    --bullet-background-active: #69E97A;
 }

.logo {
    width: 50%;
}

.cat {
    background-color: #f4f4f4;
}

p {
    line-height: 30px;
    font-size: 18px;
    margin-left: 5px;
}

span {
    color: #69E97A;
    font-weight: 900;
    font-size: 25px;
}

button {
    color: #69E97A;
    border: solid 1px #69E97A;
    border-radius: 10px;
    height: 60px;
    width: 90%;
    background-color: white;
    box-shadow: 0px 3px 6px lightgray;
}

ion-row {
    transform: translateX(2%);
    margin-top: 20px;
}
