<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="logo" src="assets/images/suma.png" alt="logo">
    <ion-buttons slot="end">
      <ion-button color="dark" id="pop3">
        <ion-icon name="person-circle-outline" slot="end" size="large"></ion-icon>
        <ion-popover mode="ios" trigger="pop3" [dismissOnSelect]="true">
          <ng-template>
            <ion-list>
              <ion-item button (click)="test()">
                <ion-label>Espace client</ion-label>
              </ion-item>
              <ion-item button (click)="test1()">
                <ion-label>Espace boutiquier</ion-label>
              </ion-item>
            </ion-list>
          </ng-template>
        </ion-popover>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="mapId" style="width: 100%; height: 100%"></div>
</ion-content>
