ion-toolbar {
    --background: #69E97A;
}

.logo {
    width: 50%;
    transform: translateX(45%);
}

h4 {
    text-align: center;
    color: #69E97A;
    font-weight: 600;
}

form {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

ion-button {
    margin-top: 30px;
}

.alert small {
    background-color: #fed3d3;
    color: #820000;
  }

  ion-label {
      margin-left: 10px;
  }
