<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="Retour" color="dark"></ion-back-button>
    </ion-buttons>
    <img class="logo" src="assets/images/suma.png" alt="logo">
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Modification du Produit</h4>
  <form *ngIf="prod" #update="ngForm" (ngSubmit)="modifier(update)">

    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" name="nom" placeholder="Nom" maxlength="20" minlength="3" [(ngModel)]="prod.nom" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prix unitaire</ion-label>
      <ion-input type="number" name="prix_unitaire" placeholder="prix_unitaire" [(ngModel)]="prod.prix_unitaire" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prix d'achat</ion-label>
      <ion-input type="number" name="prix_achat" placeholder="prix_achat" [(ngModel)]="prod.prix_achat" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantité</ion-label>
      <ion-input type="number" name="quantite" placeholder="quantite" [(ngModel)]="prod.quantite" ngModel required></ion-input>
    </ion-item>
    <div>
      <ion-button class="bot" type="submit" color="success" >MODIFIER</ion-button>
    </div>
  </form>
</ion-content>
