ion-toolbar {
    --background: #69E97A;
}

.logo {
    width: 50%;
    transform: translateX(45%);
}

form {
    margin-top: 20px;
}

h4 {
    text-align: center;
    color: #69E97A;
    font-weight: 600;
}

.bot {
    margin-top: 30px;
    background-color: #69E97A;
}

div {
    text-align: center;
}
