ion-toolbar {
    --background: #69E97A;
}

.info {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;

    ion-img {
        width: 70%;
        margin: 0 auto;
    }
}

b {
    color: #69E97A;
}

