<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info">
    <ion-img src="{{photo}} + {{det.id}}"></ion-img>
    <p><b>Nom : </b> {{det.nom}}</p>
    <p><b>Prix : </b>{{det.prix_unitaire}}</p>
    <p><b>Localité : </b>{{det.boutiques.quartier.libelle}}</p>
    <p><b>Boutique : </b>{{det.boutiques.nom}}</p>
  </div>
</ion-content>
