<app-header></app-header>
<app-menu></app-menu>

<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="row col-lg-6 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                    <a href="listProduit">
                     <i class="fas fa-chevron-left" style="font-weight: bold; font-size: 25px; color: #684f0e;" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12" style="float: left;">
                    <h4 class="page-title">Modification PRODUIT</h4>
                </div>
            </div>
            <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row justify-content-center" style="margin: 0 auto;">

        <div class="col-lg-12 col-xlg-12 col-md-12"></div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-12 col-xlg-3 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form #UpdateForm="ngForm" novalidate="novalidate" autocomplete="off" class="form-horizontal form-material">
                            <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Nom </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <input type="text" placeholder="Saisissez un nom "
                                                class="form-control p-0 border-0" name="nom" [(ngModel)]="services.nom" required>
                                    
                                </div>
                            </div>                        
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Categoie </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <select class="form-control p-0 border-0"  [(ngModel)]="services.category.id" name="category"   required>
                                        <option *ngFor="let cat of category" value="{{cat.id}}">{{cat.nom}}
                                        </option>
                                    </select>
                                </div>
                            </div> 
                        </div>
                        <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Prix_Unitaire </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <input type="text" placeholder="Saisissez un Prix Unitaire "
                                                class="form-control p-0 border-0" name="prix_unitaire"  [(ngModel)]="services.prix_unitaire" required>
                                   
                                </div>
                            </div>                        
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Quantite </label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="text" placeholder="Saisissez une Quantite"
                                                class="form-control p-0 border-0" name="quantite"  [(ngModel)]="services.quantite" required>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-row" >
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Boutique </label>
                                <div class="col-md-10 border-bottom p-0">
                                    <select class="form-control p-0 border-0"  [(ngModel)]="services.boutiques.id" name="boutiques"   required>
                                        <option *ngFor="let prod of boutique" value="{{prod.id}}">{{prod.nom}}
                                        </option>
                                    </select>
                                </div>
                            </div>                             
                            <div class="form-group mb-4 col-md-6">
                                <label class="col-md-12 p-0">Photo </label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input #photos type="file" accept=".jpg, .jpeg, .png" placeholder="Choisir une Photo"
                                                class="form-control p-0 border-0" name="photo" [(ngModel)]="services.photo"  (change)="view(photos.files)" required>
                                   
                                </div>
                            </div>
                            
                            <div>
                                <span style="color:red;" *ngIf="message">{{message}}</span>
                                <img [src]="imgURL" height="200" *ngIf="imgURL">
                            </div>
                        </div> 
                            <div class="form-group mb-6">
                                <div class="col-sm-12 align-button">
                                    <button type="submit" class="btn btn-success me-5" (click)="onUpdate()">Modifier</button>
                                     <button type="reset" class="btn btn-warning ms-5" routerLink="/listBoutique">Retour</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xlg-3 col-md-12"></div>
    </div>
</div>
</div>

