<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="Retour" color="dark"></ion-back-button>
    </ion-buttons>
    <img class="logo" src="assets/images/suma.png" alt="logo">
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Formulaire d'ajout</h4>

  <form #form="ngForm" (ngSubmit)="ajout(form)">
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" name="nom" id="nom" [(ngModel)]="form.nom" autocomplete="none" maxlength="20" minlength="3" #nom="ngModel" required ngModel></ion-input>
    </ion-item>
    <span *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert">
      <small *ngIf="nom.errors?.['required']">
        Le nom est obligatoire
      </small>
      <small *ngIf="login.errors?.['minlength']">
        Le nom doit être au moins 3 caractères
      </small>
    </span>
    <ion-item>
      <ion-label position="floating">Quantité</ion-label>
      <ion-input type="text" name="quantite" id="quantite" [(ngModel)]="form.quantite" autocomplete="none" #quantite="ngModel" required ngModel></ion-input>
    </ion-item>
    <span *ngIf="quantite.invalid && (quantite.dirty || quantite.touched)" class="alert">
      <small *ngIf="quantite.errors?.['required']">
        La quantité est obligatoire
      </small>
    </span>
    <ion-item>
      <ion-label position="floating">Prix unitaire</ion-label>
      <ion-input type="number" name="prix_unitaire" id="prix_unitaire" [(ngModel)]="form.prix_unitaire" autocomplete="none" #prix_unitaire="ngModel" required ngModel></ion-input>
    </ion-item>
    <span *ngIf="prix_unitaire.invalid && (prix_unitaire.dirty || prix_unitaire.touched)" class="alert">
      <small *ngIf="prix_unitaire.errors?.['required']">
        Le prix unitaire est obligatoire
      </small>
    </span>
    <ion-item>
      <ion-label position="floating">Prix d'achat</ion-label>
      <ion-input type="number" name="prix_achat" id="prix_achat" [(ngModel)]="form.prix_achat" autocomplete="none" #prix_achat="ngModel" required ngModel></ion-input>
    </ion-item>
    <span *ngIf="prix_achat.invalid && (prix_achat.dirty || prix_achat.touched)" class="alert">
      <small *ngIf="prix_achat.errors?.['required']">
        Le prix d'achat est obligatoire
      </small>
    </span>
    <ion-item>
      <ion-label>Catégorie</ion-label>
      <ion-select mode="ios" name="category" id="category" [(ngModel)]="form.category" #category="ngModel" ngModel required>
        <ion-select-option *ngFor="let c of cat" value={{c.id}} >{{c.nom}}</ion-select-option>
      </ion-select>
    </ion-item>
    <span *ngIf="category.invalid && (category.dirty || category.touched)" class="alert">
      <small *ngIf="category.errors?.['required']">
        La catégorie est obligatoire
      </small>
    </span>
    <ion-item>
      <ion-label>Unite</ion-label>
      <ion-select mode="ios" name="unite" id="unite" [(ngModel)]="form.unite" #unite="ngModel" ngModel required>
        <ion-select-option value="KG">Kilogramme</ion-select-option>
        <ion-select-option value="LITRE">Litre</ion-select-option>
        <ion-select-option value="SAC">Sac</ion-select-option>
      </ion-select>
    </ion-item>
    <span *ngIf="unite.invalid && (unite.dirty || unite.touched)" class="alert">
      <small *ngIf="unite.errors?.['required']">
        L'unité est obligatoire
      </small>
    </span>
    <ion-item>
      <ion-input #photos type="file" accept=".jpg, .png" name="photos" id="photos" [(ngModel)]="form.photos" #photo="ngModel" (change)="view($event)" ngModel required></ion-input>
    </ion-item>
    <span *ngIf="photos.invalid && (photos.dirty || photos.touched)" class="alert">
      <small *ngIf="photos.errors?.['required']">
        La catégorie est obligatoire
      </small>
    </span>
    <ion-button type="submit" color="success">AJOUTER</ion-button>
  </form>
</ion-content>
