ion-toolbar {
    --background: #69E97A;
}

.logo {
    width: 50%;
    transform: translateX(45%);
}

ion-segment-button {
    display: flex;

    ion-label {
        font-size: 10px;
      }
}


.photo {
    margin-top: 20px;
}

ion-img {
    width: 100px;
    margin: 0 auto;
}

.bot {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 10px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  ion-button {
      font-size: 15px;
  }

  a {
      font-size: 20px;
      margin: 5px;
  }

  

