/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~leaflet/dist/leaflet.css";

.success {
    --color:#ffffff;;    
    --background:#06a039;
}

.danger {
    --color:#ffffff;;    
    --background:#b8110c;
}

.searchbar-input.sc-ion-searchbar-ios {
    border-radius: 25px;
    background-position: left 8px center;
    font-size: 1.1rem;
    font-weight: 400;
    color: #7f8490;
    background-color: white;
    border: #06a039 solid 1px;
    -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
  }

  .setting-modal {
    --ion-background-color:#F4F4F4F4;
    --border-radius: 20px;
    --max-height: 60%;
    --max-width: 90%;
    --width: 90%;
    --height: 60%;
    border-width: 5px;
}

.my-custom-class {
    --background: rgb(228, 225, 225);
    --spinner-color: #06a039;
  
    color: #06a039;
  }

// ::-webkit-scrollbar,
// *::-webkit-scrollbar {
// display: none;
// }

// ion-content {
//  --overflow: hidden;
//  overflow: auto;
//  &::-webkit-scrollbar {
//    display: none;
//  }
//  }