ion-toolbar {
    --background: #69E97A;
}

h4 {
    text-align: center;
    color: #69E97A;
    font-weight: 600;
}

form {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

ion-button {
    margin-top: 20px;
}

h4 {
    text-align: center;
    color: #69E97A;
    font-weight: 600;
}

.new {
    width: 95%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.new a {
    color: #F3AC2F;
}

.alert small {
    background-color: #fed3d3;
    color: #820000;
  }
