<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="Retour" color="dark"></ion-back-button>
    </ion-buttons>
    <img class="logo" src="assets/images/suma.png" alt="logo">
    <ion-buttons slot="end">
      <ion-button color="dark" id="pop6">
        <ion-icon name="person-circle-outline" slot="end" size="large"></ion-icon>
        <ion-popover mode="ios" trigger="pop6" [dismissOnSelect]="true">
          <ng-template>
            <ion-list>
              <ion-item button (click)="test()">
                <ion-label>Espace client</ion-label>
              </ion-item>
              <ion-item button (click)="test1()">
                <ion-label>Espace boutiquier</ion-label>
              </ion-item>
            </ion-list>
          </ng-template>
        </ion-popover>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar style="--background: #F4F4F4F4;">
    <h3>Liste des Boutiques</h3>
 </ion-toolbar>

  <ion-searchbar mode="ios" placeholder="Rechercher" [(ngModel)]="filterTerm" animated="true"></ion-searchbar>

 <div id="cards-container">
  <ion-card *ngFor="let b of boutiques | filter:filterTerm" [routerLink]="['/detail-boutique', b.id]">
    <ion-img src="{{photo}} + {{b.id}}"></ion-img>
    <ion-card-title>{{b.nom}}</ion-card-title>
  </ion-card>
</div>
</ion-content>
